<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwGBzV2j-RfwIv97ckpulayB2_bOIUBrY</string>
	<key>GCM_SENDER_ID</key>
	<string>1015333872918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devesh.P4P-Project</string>
	<key>PROJECT_ID</key>
	<string>p4p-youngmin-devesh</string>
	<key>STORAGE_BUCKET</key>
	<string>p4p-youngmin-devesh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015333872918:ios:8132326bc005bbb6965c37</string>
</dict>
</plist>