<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>We need your permission to use the camera for scanning QR codes.</string>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>We need Bluetooth access to broadcast and scan signals.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>We need Bluetooth access to broadcast and scan signals.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location to broadcast iBeacon signals.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need access to your location to broadcast iBeacon signals.</string>
</dict>
</plist>
